body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302082;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

.main-content {
  flex: 1;
  padding: 2rem;
  text-align: left;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.search-bar input {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
}

.icons i {
  color: white;
  margin-left: 1rem;
  cursor: pointer;
}

.footer {
  background-color: #302082;
  color: white;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
